<%- include("partials/header.ejs") -%>

    <div class="px-4 py-5 my-5 text-center">
      <img src="<%= imageURL %>">
      <h1 class="display-5 fw-bold resultTitle">The temperature in <%=location%> is currently <%=temp%> degrees Celcius</h1>
      <h3>Right now there is <%=weatherDescription%></h3>
      </div>
    </div>

<%- include("partials/footer.ejs") -%>
